:root {
    --main: #00E593;
    --bg: #F8F8FF
        /* --stroke:rgb(208, 208, 208); */
}

.divider {
    margin: 10px auto;
    width: 95%;
}



.blogs {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}




/* ------------------read more button--------------- */

.button-24 {
    margin-bottom: 20px;
    width: 200px;
    background: var(--main);
    border: 1px solid var(--main);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: var(--main);
}

.button-24:active {
    opacity: .5;
}

/* --------------------------blog content-------------------------- */

.blog_post {
    margin: 32px 0;
    border: 0.5px solid rgb(174, 174, 174);
    border-radius: 30px;
    display: flex;
    overflow: hidden;
    width: 80%;
    height: 300px;
}

.blog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    flex: 2.5
}

.blog-img {
    overflow: hidden;
    border-right: 0.5px solid rgb(150, 150, 150);
    flex: 1;

}

.blog-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog-content p {
    font-size: 14px;
}

.blog-content a {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.blog-text {
    margin-bottom: 8px;
}

@media only screen and (max-width:700px) {
    .blog-content h2{
        font-size: 18px;
    }
    .blog-content{
        padding: 20px;

    }
    .blog-img {
        display:none;
    }
    .button-24{
        width: 150px;
        font-size: 12px;
    }
}
@media only screen and (max-width:450px) {
    .blog-content h2{

        font-size: 16px;
    }
    .blog-img img {
        height: 0;
        width: 0;
        object-fit: cover;
    }
    .blog-text p{
        font-size: 12px;
    }
}